<!DOCTYPE html>
<html>
<head>
    <script language="javascript" type="text/javascript">
        WebSampleAppConfig =
        {
            ApplicationName: "",
            ApplicationPath: "",
            ApplicationKey: "",
            PatientContextKey: "",
            LoginRedirect: "",
            Surveyable: ""
        };
    </script>

    <script language="javascript" src="Scripts/IContextor.js"></script>
    <script language="javascript" src="Scripts/WebSDKConnect.js"></script>

    <script language="javascript" type="text/javascript">

        function startup() {
            // join
            var appname = "sampleapp#";
            var surveyable = true;
            Caradigm.IAM.IContextor.JoinAsync(appname, surveyable,
            // callback
            function (token, status) {
                // check status
                var joined = (status == Caradigm.IAM.Success);
                console.log("joined. Status=", status);

                var changesOnly = false;
                Caradigm.IAM.IContextor.GetContextAsync(changesOnly,
                // getContextAsync callback
                function (token, status, contextDict) {
                    // normalize Dict (keys lower case)
                    contextDict = WebSDKApp.Context.NormalizeDict(contextDict);
                    var userid = contextDict["user.id.logon.1upmcacct"].toLowerCase();
                    document.getElementById("mainSpan").innerHTML = JSON.stringify(contextDict);
                });
            });
        }
    </script>



</head>
<body onload="startup();">
    <span id="mainSpan"></span>
</body>
</html>
